
.pageWrapper {
  width: 100vw;
  max-width: 700px;
  height: 100vh;

  .searchForm {
    margin-top: 3.2rem;

    label {
      color: var(--color-text-in-primary);
    }
  }

  main {
    margin: 3.2rem auto;
    width: 90%;
  }
}

@media (min-width: 700px) {
  .pageWrapper {
    max-width: 100%;

    .searchForm {
      position: absolute;
      bottom: -25px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 16px;

      & > div + div {
        margin-top: 0;
      }
    }

    main {
      max-width: 740px;
      margin: 0 auto;
      padding: 3.2rem 0;
    }
  }
}
