{
  "server/**/*.{js,cjs,mjs,ts,mts,json}": [
    "eslint --config server/eslint.config.mjs --fix"
  ],
  "mobile/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}": [
    "eslint --config mobile/eslint.config.mjs --fix"
  ],
  "web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}": [
    "eslint --config web/eslint.config.js --fix"
  ],
  "*.{css,sass,scss}": [
    "prettier --write"
  ]
}
