#page-teachers-list {
  width: 100%;
  height: 100%;
}

#search-teacher {
  margin-top: 3.2rem;
}

#search-teacher label {
  color: var(--color-text-in-primary);
}

#page-teachers-list main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #search-teacher .select-group + .select-group,
  #search-teacher .select-group + .input-group {
    margin-top: 0;
  }

  #page-teachers-list {
    max-width: 100%;
  }

  #search-teacher {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -25px;
  }

  #page-teachers-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
